In [1]:
#importing important libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
#reading data
h_stroke = pd.read_csv('stroke_prediction.csv')

In [3]:
h_stroke.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [5]:
df = h_stroke

### Feature Engineering

In [6]:
# Binning based on ranges for avg_gulcose_level
bins = [0,140,200,400]
labels = ['normal','pre-diabetic','diabetic']
df['is_diabetic'] = pd.cut(df['avg_glucose_level'], bins= bins, labels=labels)

In [8]:
#  Binning based on ranges for bmi
bins = [0,18.5,25,30,150]
labels = ['underweight','healthy','overweight','obese']
df['bmi_status'] = pd.cut(df['bmi'], bins= bins, labels=labels)

In [10]:
#Binning based on range of age
bins = [0,30,50,70,100]
labels = ['young','moderate','old','very_old']
df['age_range'] = pd.cut(df['age'], bins= bins, labels=labels)

In [11]:
#Summing up age,bmi and avg_gulcose level columns
df['age_bmi_gulcose'] = df['age']+ df['bmi']+ df['avg_glucose_level']

In [13]:
#Finding ratio of avg_glucose_level and age and creating new category
df['avg_glucose_level_age_ratio'] = df['avg_glucose_level']/df['age']

In [14]:
#Finding ratio of bmi and age and creating new category
df['bmi_age_ratio'] = df['bmi']/df['age']

In [15]:
#Creating new category for person with diabetic and having obesity
a=(df["is_diabetic"]=="diabetic")
b=(df["bmi_status"]=="obese") 
df['dia_obese'] = a&b

In [16]:
#Creating new category for person with diabetic and over-weight
c=(df["is_diabetic"]=="diabetic")
d=(df["bmi_status"]=="overweight") 
df['dia_overweight'] = c & d

In [17]:
#Creating new category for person with diabetic and heaalthy
e=(df["is_diabetic"]=="diabetic")
f=(df["bmi_status"]=="healthy") 
df['dia_healthy'] = e & f

In [18]:
#Creating new category for person with pre-diabetic and obese
e=(df["is_diabetic"]=="pre-diabetic")
f=(df["bmi_status"]=="obese") 
df['predia_obese'] = e & f

In [19]:
#Creating new category for person with pre-diabetic and overweight
e=(df["is_diabetic"]=="pre-diabetic")
f=(df["bmi_status"]=="overweight") 
df['predia_overweight'] = e & f

In [20]:
#Creating new category for person with pre-diabetic and healthy
e=(df["is_diabetic"]=="pre-diabetic")
f=(df["bmi_status"]=="healthy") 
df['predia_healthy'] = e & f

In [21]:
#Creating new category for person working in private sector and diabetic

a = (df['work_type'] == 'Private')
b = (df["is_diabetic"]=="diabetic")
df['private_diabetic'] = a & b

In [22]:
#Creating new category for person working in private sector and pre-diabetic

a = (df['work_type'] == 'Private')
b = (df["is_diabetic"]=="pre-diabetic")
df['private_prediabetic'] = a & b

In [23]:
#Creating new feature for person is married and diabetic

a = (df['ever_married'] == 'Yes')
b = (df["is_diabetic"]=="diabetic")
df['married_diabetic'] = a & b

In [24]:
#Creating new feature for person is married and pre-diabetic

a = (df['ever_married'] == 'Yes')
b = (df["is_diabetic"]=="pre-diabetic")
df['married_prediabetic'] = a & b

In [25]:
#Creating new feature for person is married and having hypertension

a = (df['ever_married'] == 'Yes')
b= (df['hypertension'] == '1')
df['married_hypertension'] = a & b

C:\Users\pravar\anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

In [26]:
#Creating new feature for person is diabetic and having hypertension

a = (df['hypertension'] == '1')
b= (df["is_diabetic"]=="diabetic")
df['diabetic_hyper'] = a & b

In [27]:
#Creating new feature for person is pre-diabetic and having hypertension

a = (df['hypertension'] == '1')
b= (df["is_diabetic"]=="pre-diabetic")
df['married_hyper'] = a & b

In [28]:
#combining different features

a = (df['dia_obese'] == '1')
b = (df['heart_disease'] == '1') 
df['dia_obese_heart'] = a & b

In [29]:
a = (df['dia_overweight'] == '1')
b = (df['heart_disease'] == '1') 
df['dia_overweight_heart'] = a & b

In [30]:

a = (df['dia_healthy'] == '1')
b = (df['heart_disease'] == '1') 
df['dia_healthy_heart'] = a & b

In [31]:
a = (df['predia_obese'] == '1')
b = (df['heart_disease'] == '1') 
df['predia_obese_heart'] = a & b

In [32]:
a = (df['predia_overweight'] == '1')
b = (df['heart_disease'] == '1') 
df['predia_overweight_heart'] = a & b

In [33]:
a = (df['predia_healthy'] == '1')
b = (df['heart_disease'] == '1') 
df['predia_healthy_heart'] = a & b

In [34]:
a = (df['private_diabetic'] == '1')
b = (df['heart_disease'] == '1') 
df['private_diabetic_heart'] = a & b

In [35]:

a = (df['private_prediabetic'] == '1')
b = (df['heart_disease'] == '1') 
df['private_prediabetic_heart'] = a & b

In [36]:
a = (df['married_diabetic'] == '1')
b = (df['heart_disease'] == '1') 
df['married_diabetic_heart'] = a & b

In [37]:
a = (df['married_hypertension'] == '1')
b = (df['heart_disease'] == '1') 
df['married_hypertension_heart'] = a & b

In [38]:
a = (df['diabetic_hyper'] == '1')
b = (df['heart_disease'] == '1') 
df['diabetic_hyper_heart'] = a & b

In [39]:
a = (df['married_hyper'] == '1')
b = (df['heart_disease'] == '1') 
df['married_hyper_heart'] = a & b

In [40]:
a = (df['age_range'] == 'very_old')
b = (df['heart_disease'] == '1')
df['veryold_heart'] = a & b

In [41]:
a = (df['age_range'] == 'old')
b = (df['heart_disease'] == '1')
df['old_heart'] = a & b

In [42]:
a = (df['age_range'] == 'old')
b = (df['is_diabetic'] == 'diabetic')
df['old_diabetic'] = a & b

In [43]:
a = (df['age_range'] == 'very-old')
b = (df['is_diabetic'] == 'diabetic')
df['veryold_diabetic'] = a & b

In [44]:
a = (df['age_range'] == 'old')
b = (df['is_diabetic'] == 'pre-diabetic')
df['old_prediabetic'] = a & b

In [45]:
a = (df['age_range'] == 'very-old')
b = (df['is_diabetic'] == 'pre-diabetic')
df['veryold_prediabetic'] = a & b

In [46]:
a = (df['veryold_prediabetic'] == '1')
b = (df['bmi_status'] == 'obese')
df['veryold_prediabetic_obese'] = a & b

In [47]:
a = (df['veryold_prediabetic'] == '1')
b = (df['bmi_status'] == 'overweight')
df['veryold_prediabetic_overweight'] = a & b

In [48]:
a = (df['veryold_diabetic'] == '1')
b = (df['bmi_status'] == 'obese')
df['veryold_diabetic_obese'] = a & b

In [49]:
a = (df['veryold_diabetic'] == '1')
b = (df['bmi_status'] == 'overweight')
df['veryold_diabetic_overweight'] = a & b

In [50]:
df = df.replace(True, 1)
df = df.replace(False, 0)

### Converting into dummies

In [51]:
df = pd.get_dummies(df,columns = ['gender','ever_married','work_type','Residence_type','smoking_status','is_diabetic','bmi_status','age_range'],drop_first = True)

In [52]:
df.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,age_bmi_gulcose,avg_glucose_level_age_ratio,bmi_age_ratio,...,smoking_status_never smoked,smoking_status_smokes,is_diabetic_pre-diabetic,is_diabetic_diabetic,bmi_status_healthy,bmi_status_overweight,bmi_status_obese,age_range_moderate,age_range_old,age_range_very_old
0,30669,3.0,0,0,95.12,18.0,0,116.12,31.706667,6.000000,...,0,0,0,0,0,0,0,0,0,0
1,30468,58.0,1,0,87.96,39.2,0,185.16,1.516552,0.675862,...,1,0,0,0,0,0,1,0,1,0
2,16523,8.0,0,0,110.89,17.6,0,136.49,13.861250,2.200000,...,0,0,0,0,0,0,0,0,0,0
3,56543,70.0,0,0,69.04,35.9,0,174.94,0.986286,0.512857,...,0,0,0,0,0,0,1,0,1,0
4,46136,14.0,0,0,161.28,19.1,0,194.38,11.520000,1.364286,...,0,0,1,0,1,0,0,0,0,0

In [53]:
# seperating independent and dependent variables
x = df.drop(['stroke'], axis=1)
y = df['stroke']
x.shape, y.shape

((43400, 62), (43400,))

In [54]:
# Importing the train test split function
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 56)

### Scaling

In [55]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [56]:
cols = train_x.columns

In [57]:
train_x_scaled = scaler.fit_transform(train_x)
train_x_scaled = pd.DataFrame(train_x_scaled, columns=cols)
train_x_scaled.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,age_bmi_gulcose,avg_glucose_level_age_ratio,bmi_age_ratio,dia_obese,...,smoking_status_never smoked,smoking_status_smokes,is_diabetic_pre-diabetic,is_diabetic_diabetic,bmi_status_healthy,bmi_status_overweight,bmi_status_obese,age_range_moderate,age_range_old,age_range_very_old
0,0.498012,0.426270,0.0,0.0,0.068548,0.121143,0.172198,0.000802,0.001173,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,0.309789,0.328613,0.0,0.0,0.125996,0.124571,0.189976,0.001455,0.001660,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.831793,0.291992,0.0,0.0,0.095450,0.170286,0.171136,0.001509,0.002350,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.873334,0.389648,0.0,0.0,0.001525,0.244571,0.147867,0.000623,0.002200,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
4,0.807458,0.731445,0.0,0.0,0.635486,0.134857,0.657666,0.001619,0.000581,0.0,...,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0

In [58]:
cols = test_x.columns

In [59]:
test_x_scaled = scaler.fit_transform(test_x)
test_x_scaled = pd.DataFrame(test_x_scaled, columns=cols)
test_x_scaled.head()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,age_bmi_gulcose,avg_glucose_level_age_ratio,bmi_age_ratio,dia_obese,...,smoking_status_never smoked,smoking_status_smokes,is_diabetic_pre-diabetic,is_diabetic_diabetic,bmi_status_healthy,bmi_status_overweight,bmi_status_obese,age_range_moderate,age_range_old,age_range_very_old
0,0.962583,0.816895,0.0,0.0,0.556821,0.575758,0.747656,0.001163,0.003309,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.425179,0.682617,0.0,0.0,0.172956,0.179487,0.328099,0.000578,0.001262,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
2,0.892314,0.414062,0.0,0.0,0.356459,0.265734,0.413867,0.001902,0.003700,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
3,0.160652,0.597168,0.0,0.0,0.127278,0.104895,0.252599,0.000594,0.000954,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.845902,0.560547,0.0,0.0,0.247584,0.311189,0.385987,0.000998,0.002899,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0